@import url(./reset.css);

/* Heading Styles */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  height: 70px;
}

header .container img {
  width: 100px;
}

header .container ul {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 100%;
}

header .container ul a {
  font-weight: 600;
}

/* Hero Section Style */

.hero {
  text-align: center;
  height: 100vh;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .container a {
  background-color: #fff;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.hero .container h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  line-height: 1.2;
  margin: 10px 0;
}
.hero .container h1 span {
  color: var(--color-primary);
}

.hero .container p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 2.5;
}

.hero .container .button_area {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  margin-top: 25px;
  margin: 20px auto;
}
.hero .container .button_area .btn2 {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

/* Cards Section Styles */

.cards_section {
  margin-top: 130px;
  text-align: center;
}
.cards_section p {
  margin-bottom: 50px;
}
.cards_section .cards_area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cards_section .cards_area .card {
  background-color: var(--color-bg-secondary);
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.cards_section .cards_area .card img {
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 20px;
}
